*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    color: #161515;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    background-color: #41577B;
    background-image: url(h8BUqx.webp);
    background-size: cover;
    position: relative;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(R\ \(2\).jfif);
    background-size: cover;
    background-position: center;
    color: #fffcfc;
    position: relative;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #94d3d8d3;
    min-height: 70px;
    position: relative;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    position: relative;
}
nav ul li a{
    color: #faf7f7;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
    justify-content: space-between;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
    margin-bottom: 15%;
    color: rgb(245, 241, 241);
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    color: rgb(250, 249, 249);
}
/*-------about-------*/
#about{
    padding: 80px 0;
    color: #fff9f9;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 400px;
    border-radius: 15px;
    image-resolution: 90%;
}
.about-col-2{
    flex-basis: 60%;
    position: relative;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    position: relative;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position:absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #ff004f;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.header-text3{
    margin-top: 20%;
    font-size: 30px;
    margin-bottom: 15%;
    color: #faf7f7;
    text-align: center;
}
.about-col-3{
    flex-basis: 60%;
    font-size: x-large;
    color: #fcfafa;
}

/*----------services--------*/
#services{
    padding: 30px 0;
    color: #faf7f7;
}
.serves-list{
    display: grid;
    color: #faf7f7;
}
.sub-title{
    color: #f8f8f8;
    position: relative;
}
.card {
    box-shadow: 0 4px 8px 0 #ffffff;
    transition: 0.3s;
    margin: 10px;
    background-color: #bbb;
    float: left;
    size-adjust: 100%;
    margin-left: 80px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgb(121, 121, 170);
  }
  
  .box {
    padding: 2px 16px;
    color: black;
    float: right;
    margin-right: 80px;
    margin-left: 50%;
  }

.grid{
    display: grid;
        gap: 6em;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        padding-bottom: 100%;
    }
    .w3-animate-right
{position:relative;animation:animateright 10s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.image-container {
    position: relative;
    display: inline-block;
  }
  .a{
    text-decoration: #0a0a0a;
  }
  .header-text4{
    margin-top: 20%;
    font-size: 30px;
    margin-bottom: 15%;
    color: #1a1919;
    margin-right: 5px;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
  }

  .flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    text-align:center ;
    margin-top: 3px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 80%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    align-items: center;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
 
    color: black;
  }
  
  .flip-card-back {
    color: rgb(3, 3, 3);
    transform: rotateY(180deg);
    text-align: center;
    text-size-adjust: 30%;
  }
  .sub-title1{
    color: #faf5f5;
    padding: 20px;
  }
  /* Responsive Footer Styles */
  .footer{
    color: #0a0a0a;
    background-color:#94d3d8d3;
    text-decoration: none;
    text-align: justify;
  }
  /* Example media query for smaller screens */
  @media (max-width: 768px) {
    .footer {
  body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
      /* Adjust styles for smaller screens */
    }
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #070707;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}
a {
    text-decoration: none; /* Remove underline */
}

/* Style the button */
button {
    background-color: #3d4249;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9px;
    cursor: pointer;
    margin: 20px;
}

/* Hover effect */
.button:hover{
    background-color: #0056b3;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh; /* Set the height to fill the viewport */
}

@media (max-width: 768px) {
    /* Styles for small screens */
    /* Example: Stack div elements vertically */
  }

  .my-text {
    position: relative;
    top: 0px;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
  }
  .contact-info-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-info-icon {
    font-size: 24px;
    margin-right: 10px;
}
.contact-info-content h4 {
    margin: 0;
    font-size: 18px;
}
.contact-info-content p {
    margin: 0;
    font-size: 16px;
}
/*----------Projects--------*/
#Projects{
    padding: 13px;
    position: relative;
    justify-content: center;
    text-align: center;

}
.Projects{
    padding: 13px;
    position: relative;
    margin-top: 3vh;
    text-decoration: white;
}
html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    height: 100%;
}
.inframe{
    position: relative;
}